<!DOCTYPE html>
<html>
  <head>
    <title>Slacker Central</title>
    <link href="/styles.css" rel="stylesheet">

  </head>
  <body>
    <h1>Slacker Central</h1>
    <h2>Everything you need to get nothing done</h2>
    <h3><a href="/articles"> Start slacking! </a></h3>
    <h3><a href="/articles/new"> Submit an article </a></h3>
  </body>

</html>
